<!-- start banner -->
<section class="banner-slider">
    <div class="container p-relative">
        <div class="swiper banner-slide">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for block in section.blocks %}
                    {% case block.type %}
                        {% when 'slideshow' %}
                            <div class="swiper-slide">
                                <img src="{{ block.settings.image | img_url: 'large' }}" alt="Slide1" class="slide-img">
                                <div class="slide-des {% if block.settings.des-position == 'bottom' %}text-bottom text-center{% endif %} {% if block.settings.des-position == 'top' %}text-top text-center{% endif %}">
                                    <div class="slide-text">
                                        <div class="caption">
                                            <h2 class="title">{{ block.settings.header }}</h2>
                                            <p>{{ block.settings.subtitle}}</p> 
                                            <div class="text"><a href="{{ block.settings.link }}">View now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p>No slides set yet!!!</p>
                    {% endcase %}
                {% endfor %}
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div id="banner-bullet" class="swiper-pagination"></div>
    </div>
</section> 

{% schema %}
{
  "name": "Slideshow",
 "settings": [
    {
        "type": "text",
        "id": "text",
        "label": "Banner slider"
    }
 ],
  "blocks": [
    {
       "type": "slideshow",
      "name": "Slide",
      "settings": [
        {
           "type": "image_picker",
           "id": "image",
           "label": "Slide Image"
        },
       {
           "type": "html",
           "id": "header",
           "label": "Banner Title",
           "default": "<p>Banner Title</p>"
       },
       {
           "type": "richtext",
           "id": "subtitle",
           "label": "Banner subtitle text goes here",
           "default": "<p>Banner subtitle text goes here</p>"
       },
      {
          "type": "url",
          "id": "link",
          "label": "View Now Link"
      },
       {
           "type": "radio",
           "id": "des-position",
           "label": "Banner Description Position",
           "options": [
               {
                   "value": "bottom",
                   "label": "Bottom"
               },
               {
                   "value": "top",
                   "label": "Top"
               },
               {
                   "value": "left",
                   "label": "Left"
               }
           ],
           "default": "left"
       }
      ]
    }
  ]
}
{% endschema %}