<!-- start block text -->
<section class="typo-block-text-image">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="home-block-text-image">
                    <div class="block-text-image-content">
                        <h3>{{ section.settings.header }}</h3>
                        <h4>{{ section.settings.subheader }}</h4>
                        <p class="view-more"> <a href="{{ section.settings.link }}">View now</a></p>
                    </div>
                    <div class="image">
                        <img class="img-fluid" src="{{ section.settings.image | img_url: 'large' }}" alt="Cat">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end block text -->

{% schema %}
{
   "name": "Block Text Image",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Block Text Title"
    },
    {
        "type": "text",
        "id": "subheader",
        "label": "Block Text Subtitle"
    },
    {
        "type": "url",
        "id": "link",
        "label": "View Link"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Block Text Image"
    }
  ]
}
{% endschema %}