<header class="header-area">
  <div class="container">
      <div class="header-inner">
          <div class="row align-items-center">
              <div class="header-left">
                  <div class="toggle-menu">
                      <i class="fa fa-bars"></i>
                  </div>
                  <nav class="header-menu">
                      <ul class="site-nav d-flex flex-wrap align-items-center">
                          <li class="menu-dropdown">
                              <a href="#" class="header-menu__link dropdown-btn">Home</a>
                              <div class="sub-menu">
                                  <ul>
                                      <li><a href="#">Home 1</a></li>
                                      <li><a href="#">Home 2</a></li>
                                      <li><a href="#">Home 3</a></li>
                                      <li><a href="#">Home 4</a></li>
                                      <li><a href="#">Home 5</a></li>
                                  </ul>
                              </div>
                          </li>
                          <li class="menu-dropdown mega-menu">
                              <a href="#" class="header-menu__link">Shop</a>
                              <div class="sub-menu">
                                  <div class="sub-menu-inner">
                                      <div class="row">
                                          <div class="col-md-9 col-sm-9">
                                              <div class="row">
                                                  <div class="col-sm-4">
                                                      <div class="mega-col-inner">
                                                          <div class="mega-menu-title">
                                                              <a href="#">Furniture</a>
                                                          </div>
                                                          <div class="mega-menu-widget">
                                                              <ul>
                                                                  <li><a href="#">Furniture 1</a></li>
                                                                  <li><a href="#">Furniture 2</a></li>
                                                                  <li><a href="#">Furniture 3</a></li>
                                                                  <li><a href="#">Furniture 4</a></li>
                                                                  <li><a href="#">Furniture 5</a></li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      <div class="mega-col-inner">
                                                          <div class="mega-menu-title">
                                                              <a href="#">Furniture</a>
                                                          </div>
                                                          <div class="mega-menu-widget">
                                                              <ul>
                                                                  <li><a href="#">Furniture 1</a></li>
                                                                  <li><a href="#">Furniture 2</a></li>
                                                                  <li><a href="#">Furniture 3</a></li>
                                                                  <li><a href="#">Furniture 4</a></li>
                                                                  <li><a href="#">Furniture 5</a></li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-4">
                                                      <div class="mega-col-inner">
                                                          <div class="mega-menu-title">
                                                              <a href="#">Furniture</a>
                                                          </div>
                                                          <div class="mega-menu-widget">
                                                              <ul>
                                                                  <li><a href="#">Furniture 1</a></li>
                                                                  <li><a href="#">Furniture 2</a></li>
                                                                  <li><a href="#">Furniture 3</a></li>
                                                                  <li><a href="#">Furniture 4</a></li>
                                                                  <li><a href="#">Furniture 5</a></li>
                                                              </ul>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-md-3 col-sm-3">
                                              <div class="mega-col-inner">
                                                  <div class="box-image">
                                                      <img src="./assets/images/mega_images_1.jpg" alt="Image" class="img-fluid">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li class="menu-dropdown">
                              <a href="#" class="header-menu__link">Feature</a>
                              <div class="sub-menu sub-menu-2">
                                  <div class="sub-menu-inner">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <div class="mega-col-inner">
                                                  <div class="mega-menu-title">
                                                      <a href="#">Collection layout</a>
                                                  </div>
                                                  <div class="mega-menu-widget">
                                                      <ul>
                                                          <li><a href="#">Left Sidebar</a></li>
                                                          <li><a href="#">Right Sidebar</a></li>
                                                          <li><a href="#">Without Sidebar</a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="col-sm-6">
                                              <div class="mega-col-inner">
                                                  <div class="mega-menu-title">
                                                      <a href="#">Product Layout</a>
                                                  </div>
                                                  <div class="mega-menu-widget">
                                                      <ul>
                                                          <li><a href="#">Product Horizontal</a></li>
                                                          <li><a href="#">Product Vertical</a></li>
                                                          <li><a href="#">Product Ticky Image</a></li>
                                                          <li><a href="#">Product Horizontal With Left Sidebar</a></li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </li>
                          <li><a href="#" class="header-menu__link no--arrow">Blog</a></li>
                          <li class="menu-dropdown">
                              <a href="#" class="header-menu__link">Page</a>
                              <div class="sub-menu">
                                  <ul>
                                      <li><a href="#">Page 1</a></li>
                                      <li><a href="#">Page 2</a></li>
                                      <li><a href="#">Page 3</a></li>
                                      <li><a href="#">Page 4</a></li>
                                      <li><a href="#">Page 5</a></li>
                                  </ul>
                              </div>
                          </li>
                      </ul>
                  </nav>
              </div>
              <div class="header-mid">
                  <div class="header-logo">
                      <a href="#" class="d-block">
                          <img src="./assets/images/logo.png" alt="Drexel">
                      </a>
                  </div>
              </div>
              <div class="header-right">
                  <div class="header-custom-link d-flex align-items-center justify-content-end">
                      <div class="header-link d-flex align-items-center">
                          <div class="header-currency">
                              <div class="header-currency__dropdown">
                                  <ul>
                                      <li>USD</li>
                                      <!-- <li>UER</li> -->
                                  </ul>
                              </div>
                          </div>
                          <div class="header-login">
                              <a href="#" class="d-inline-block header-login--text">Login</a>
                              <!-- mobile login -->
                              <div class="header-login__mobile p-0">
                                  <i class="fa fa-user"></i>
                              </div>
                          </div>
                          <div class="header-wishlist">
                              <a href="#" class="d-inline-block">
                                  <i class="fa fa-heart"></i>
                              </a>
                          </div>
                      </div>
                      <div class="header-cart">
                          <a href="#" class="d-inline-block header-cart--link">
                              <span class="header-cart__text">Cart</span>
                              <span class="header-cart__count">
                                  <em>(</em>
                                  0
                                  <em>)</em>
                              </span>
                          </a>
                          <!-- mobile cart -->
                          <a href="#" class="header-cart__mobile">
                              <span class="header-cart-icon"><i class="fa fa-shopping-cart"></i></span>
                              <span class="cart-count">0</span>
                          </a>
                          <!-- dropdown cart -->
                          <div class="dropdown-cart">
                              <div class="dropdown-cart__empty">
                                  <p class="m-0">You have no items in your shopping cart.</p>
                              </div>
                              <div class="dropdown-mini-cart">
                                  <ul class="cart-list">
                                      <li class="d-flex">
                                          <a href="#" class="product-image">
                                              <img src="./assets/images/mini-cart-prod.jpg" alt="">
                                          </a>
                                          <div class="product-inner">
                                              <p class="product-name m-0">
                                                  <a href="#" class="text-secondary text-uppercase text-fs-xxss font-medium text-hover-white">Dellentesque convallis</a>
                                              </p>
                                              <div class="cart-collateral ps-0">
                                                  <span class="price">
                                                      <span class="money text-fs-xxs">$250.00</span>
                                                  </span> x 1
                                              </div>
                                          </div>
                                          <a href="javascript:void(0)" title="Remove This Item" class="btn-remove text-secondary text-hover-white">
                                              <i class="fa fa-trash" aria-hidden="true"></i>
                                          </a>
                                      </li>
                                  </ul>
                                  <div class="summary px-0">                
                                      <p class="total d-flex justify-content-between align-items-center text-white">
                                        <span>Total:</span>
                                        <span class="price"><span class="money">$250.00</span></span> 
                                      </p>
                                  </div>
                                  <div class="actions ps-0 d-flex justify-content-around">
                                      <a class="btn text-white text-fs-xxs text-uppercase bg-hover-secondary" href="/cart">View Cart</a>
                                      <a class="btn text-white text-fs-xxs text-uppercase bg-hover-secondary" href="/checkout">Checkout</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="header-search">
                          <i class="fa fa-search"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>