<header id="header-content" class="header_layout_1">
    <div class="header">
      <div class="container">
        <div class="header-inner">
          <div class="row">
             
            <div class=" col-lg-5 col-md-5 col-sm-8 col-xs-4" style="position:static">
              <div class="top-menu" id="header-menu">
                <div class="menu-top text-right">
                  <div class="toggle-menu">
                    <button class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas" data-target="#off-canvas-nav">
                      <i class="fa fa-bars accordion-show"></i>
                    </button>
                  </div>
                <div class="menu-action"><!--Top Menu -->
                    <div class=" megamenu">
                    <ul class="navbar-nav site-nav">
                        
                        
                        
                        
                        
                        
                        
                        
                        
                    <li class="menu-dropdown  level-top   active">
                        <a class="dropdown-toggle has-category" href="index.html" title="Home"><span class="">Home</span><i class="fa fa-angle-down"></i></a>
                        <i class="fa fa-angle-down"></i>
                        <div class="dropdown-sub level1">
                        <ul>
                            
                            
                            <li class="">
                                <a class="" href="indexfe6e.html?preview_theme_id=" title="Home 1"><span class="">Home 1 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="indexa899.html?preview_theme_id=178838421" title="Home 2"><span class="">Home 2 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="index177f.html?preview_theme_id=179190165" title="Home 3"><span class="">Home 3 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="index96ed.html?preview_theme_id=183244501" title="Home 4"><span class="">Home 4 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="indexfbbb.html?preview_theme_id=179492565" title="Home 5"><span class="">Home 5 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="indexf945.html?preview_theme_id=182460757" title="Home 6"><span class="">Home 6 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="index4639.html?preview_theme_id=180504533" title="Home 7"><span class="">Home 7 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="indexc392.html?preview_theme_id=181006037" title="Home 8"><span class="">Home 8 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="index1ec3.html?preview_theme_id=185324821" title="Home 9"><span class="">Home 9 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="index05c4.html?fts=0&amp;preview_theme_id=43018715217" title="Home 10"><span class="">Home 10 </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="index7843.html?fts=0&amp;preview_theme_id=48155394129" title="Home 11"><span class="">Home 11 </span></a>
                            </li>
                            
                            
                            </ul>
                        </div>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <li class="menu-dropdown  mega-menu  level-top full-width ">
                        <a class="dropdown-toggle" href="collections/all.html" title="Shop">Shop<i class="fa fa-angle-down"></i><span class="lable-hot">Hot</span></a>
                        <i class="fa fa-angle-down"></i>
                        
                        








                        
                        
                    <div class="dropdown-sub sub-1" style='width:' >
                        <div class="dropdown-menu-inner">
                            <div class="row">
                                
                                    <div class="mega-item col-sm-9 col-md-9">
                                        
                                        <div class="row">




                    <div class="col-sm-4">
                        
                        
                        <div class="mega-col-inner ">
                        <div class="menu-title">
                            <a href="collections/storage.html">furniture   </a>
                        </div>
                        <div class="widget-inner">
                            <ul class="nav-links">
                            
                            
                            <li class=""><a href="collections/chairs.html" title="Chairs">Chairs</a></li>
                            
                            <li class=""><a href="collections/tables.html" title="Tables">Tables</a></li>
                            
                            <li class=""><a href="collections/office.html" title="Office">Office</a></li>
                            
                            <li class=""><a href="collections/storage.html" title="Storage">Storage</a></li>
                            
                            <li class=""><a href="collections/stools-benches.html" title="Stools & Benches">Stools & Benches</a></li>
                            
                            
                            </ul>
                        </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        
                        
                        <div class="mega-col-inner ">
                        <div class="menu-title">
                            <a href="collections/office.html">Chairs & Sofas   </a>
                        </div>
                        <div class="widget-inner">
                            <ul class="nav-links">
                            
                            
                            <li class=""><a href="collections/lighting.html" title="Sofas">Sofas</a></li>
                            
                            <li class=""><a href="collections/office.html" title="Lounge chairs & ottomans">Lounge chairs & ottomans</a></li>
                            
                            <li class=""><a href="collections/chairs.html" title="Sofa armchairs">Sofa armchairs</a></li>
                            
                            <li class=""><a href="collections/office.html" title="Sofa beds">Sofa beds</a></li>
                            
                            <li class=""><a href="collections/chairs.html" title="Chaise and day beds">Chaise and day beds</a></li>
                            
                            
                            </ul>
                        </div>
                        </div>
                    </div>


                    <div class="col-sm-4">
                        
                        
                        <div class="mega-col-inner ">
                        <div class="menu-title">
                            <a href="collections/stools-benches.html">Lighting   </a>
                        </div>
                        <div class="widget-inner">
                            <ul class="nav-links">
                            
                            
                            <li class=""><a href="collections/chairs.html" title="Chairs">Chairs</a></li>
                            
                            <li class=""><a href="collections/lighting.html" title="Tables">Tables</a></li>
                            
                            <li class=""><a href="collections/office.html" title="Office">Office</a></li>
                            
                            <li class=""><a href="collections/storage.html" title="Storage">Storage</a></li>
                            
                            <li class=""><a href="collections/lighting.html" title="Stools & Benches">Stools & Benches</a></li>
                            
                            
                            </ul>
                        </div>
                        </div>
                    </div>


                    </div>
                                    </div>
                                
                                
                                
                                
                                    <div class="mega-item col-sm-3 col-md-3">
                                    
                                    
                                    
                                        <div class="block-html">
                        
                        <div class="widget-inner">
                            
                            <div class="box-image"><img class="b-lazy slide-img" src="../cdn.shopify.com/s/files/1/2150/5881/t/2/assets/mega_images_1.jpg" alt=""></div>
                            
                        </div>
                    </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <li class="menu-dropdown  mega-menu  level-top aligned-center ">
                        <a class="dropdown-toggle" href="collections/all.html" title="Feature">Feature<i class="fa fa-angle-down"></i></a>
                        <i class="fa fa-angle-down"></i>
                        
                        








                        
                        
                    <div class="dropdown-sub sub-2" style='width:600px' >
                        <div class="dropdown-menu-inner">
                            <div class="row">
                                
                                    <div class="mega-item col-sm-12 col-md-12">
                                        
                                        <div class="row">




                    <div class="col-sm-6">
                        
                        
                        <div class="mega-col-inner ">
                        <div class="menu-title">
                            <a href="collections/office.html">Collection Layout   </a>
                        </div>
                        <div class="widget-inner">
                            <ul class="nav-links">
                            
                            
                            <li class=""><a href="collections/chairs.html" title="Left Sidebar">Left Sidebar</a></li>
                            
                            <li class=""><a href="collections/storage.html" title="Right Sidebar">Right Sidebar</a></li>
                            
                            <li class=""><a href="collections/office.html" title="Without Sidebar">Without Sidebar</a></li>
                            
                            
                            </ul>
                        </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        
                        
                        <div class="mega-col-inner ">
                        <div class="menu-title">
                            <a href="products/dellentesque-convallis.html">Product Layout   </a>
                        </div>
                        <div class="widget-inner">
                            <ul class="nav-links">
                            
                            
                            <li class=""><a href="products/accusantium-doloremque.html" title="Product Horizontal">Product Horizontal</a></li>
                            
                            <li class=""><a href="products/heritage-herschel-backpack/index177f.html?preview_theme_id=179190165" title="Product Vertical">Product Vertical</a></li>
                            
                            <li class=""><a href="products/heritage-herschel-backpack/index96ed.html?preview_theme_id=183244501" title="Product Ticky Image">Product Ticky Image</a></li>
                            
                            <li class=""><a href="collections/furniture/products/knight-home-aurla-mid/indexa899.html?preview_theme_id=178838421" title="Product Horizontal With Left Sidebar">Product Horizontal With Left Sidebar</a></li>
                            
                            
                            </ul>
                        </div>
                        </div>
                    </div>


                    </div>
                                    </div>
                                
                                
                                
                                
                            </div>
                        </div>
                    </div>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <li class=" level-top">
                        <a class="" href="blogs/news.html" title="blog" target="_self">blog</a>
                        </li>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        <li class="menu-dropdown  level-top   ">
                        <a class="dropdown-toggle has-category" href="pages/about-us.html" title="page"><span class="">page</span><i class="fa fa-angle-down"></i></a>
                        <i class="fa fa-angle-down"></i>
                        <div class="dropdown-sub level1">
                            <ul>
                            
                            
                            <li class="">
                                <a class="" href="pages/about-us.html" title="About us"><span class="">About us </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="pages/contact.html" title="contact"><span class="">contact </span></a>
                            </li>
                            
                            
                            
                            <li class="">
                                <a class="" href="pages/faqs.html" title="Faqs"><span class="">Faqs </span></a>
                            </li>
                            
                            
                            </ul>
                        </div>
                        </li>
                        
                        
                        
                    </ul>
                    </div><!-- End Menu -->  
                </div>
                </div>
              </div>
            </div>
            
            <div class=" col-md-2 col-sm-3 col-xs-12 logo-container">
              <div class="logo">
                
                
               
                    
                <h1><a href="index.html"><img src="../cdn.shopify.com/s/files/1/2150/5881/files/logo_0377cd9a-c0fb-4bb7-b88c-0ff4f235a104_medium.png" alt="drexel-01" /></a></h1>
                
                <h1 style="display:none"><a href="index.html">drexel-01</a></h1>
                
                
              </div>
            </div>
            
            <div class="col-md-5 col-sm-5 col-xs-4" id="header-top-cart" >
              <div class="" id="header-top-custom-link">
                <div class="header-custom-link-desktop">
                  <div class="desktop-currency">
                    
  <div id="currencies-top" class="">
    <div class="block-title"><span>Currency: </span></div>
    <div class="popup-title dropdown-toggle">
      
      <span id="" class=" pre-currencies text-label">USD</span><i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-currency">
      <ul id="" class="currencies currencies_ul list-unstyle">
        
        
        <li class=""><a data-currency="USD" class="currency active" rel="nofollow">USD</a></li>
        
        
        <li class=""><a data-currency="EUR" class="currency " rel="nofollow">EUR</a></li>
        
        
        
        
      </ul>
    </div>
  </div>
  
  
  <script type="text/javascript">jQuery(function() {jQuery('.currencies li a').on('click', function() {jQuery('.pre-currencies').attr('data-currency', jQuery(this).data('currency'));});});</script>
  
                  </div>
                  <div class="login-custtomer">
                    
                    
                    <a href="account/login.html">Login</a>
                    
                    
                  </div>
                  <div class="wishlists">
                    <a href="pages/wishlist.html" title="My Wishlist"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
                <div class="header-links">
                  <div class="icons"></div>
                  <div class="cusstom-link">
                    
  <div id="currencies-top" class="">
    <div class="block-title"><span>Currency: </span></div>
    <div class="popup-title dropdown-toggle">
      
      <span id="" class=" pre-currencies text-label">USD</span><i class="fa fa-angle-down"></i>
    </div>
    <div class="dropdown-currency">
      <ul id="" class="currencies currencies_ul list-unstyle">
        
        
        <li class=""><a data-currency="USD" class="currency active" rel="nofollow">USD</a></li>
        
        
        <li class=""><a data-currency="EUR" class="currency " rel="nofollow">EUR</a></li>
        
        
        
        
      </ul>
    </div>
  </div>
  
  
  <script type="text/javascript">jQuery(function() {jQuery('.currencies li a').on('click', function() {jQuery('.pre-currencies').attr('data-currency', jQuery(this).data('currency'));});});</script>
  
                    
                    
                    <ul class="customer-links">
                      
                      <li><a href="pages/wishlist.html" title="My Wishlist"> My Wishlist</a></li>
                      
                      <li><a href="cart.html"><span>Checkout</span></a></li>
                      <li><a href="account/login.html">Login</a></li>
                      <li><a href="account/register.html">Create an account</a></li>
                    </ul>
                    
                    
                
                  </div>
                </div>
              </div>
              <div class="typo-header-cart">
                <!--%include 'customer_links' %-->
                <a href="#" id="cartToggle">
                  <span class="text-cart">Cart</span>
                  <span class="icon top-icon-cart"><i class="fa fa-shopping-cart"></i></span>
                  <span id="cart-count"><em>(</em>0<em>)</em></span>
                </a> 
                <div id="dropdown-cart"> 
                  <p class="close-cart"><i class="lnr lnr-cross"></i></p>
                  <h3>Mini Cart </h3>
                  <div class="cart-empty">
                    <p>You have no items in your shopping cart.</p>
                  </div>
                  <div class="mini_cart_header">
                    <ol class="cart-list">  
                      
                    </ol>
                    <div class="summary">                
                      <p class="total">
                        <span >Total:</span>
                        <span class="price"><span class=money>$0.00</span></span> 
                      </p>
                    </div>
                    <div class="actions">
                      <div class="view-cart"><a class="btn" href="cart.html">View Cart</a></div>
                      <button class="btn" onclick="window.location='cart.html'">Checkout</button>
  
                    </div>
  
                  </div>
                </div> <!-- End Top Header --> 
              </div>
               
              <div id="search-top">
                <div class="search-close">
                  <i class="fa fa-times"></i>
                </div>
                <div class="icon-search">
                  <i class="fa fa-search"></i>
                </div>
                <div class="search-form" style="display:none">
                  
  
  
  <form action="https://drexel-01.myshopify.com/search" method="get" class="input-group search-bar">
    
    <input type="hidden" name="type" value="product">
  
    <input type="text" name="q" value="" placeholder="search Product" class="input-group-field" aria-label="Search Site" autocomplete="off">
    <span class="input-group-btn">
      <input type="submit" class="btn" value="Search">
    </span>
  </form>
  
                </div>
              </div>
              
            </div>
          </div>
        </div> 
      </div>   
    </div>
  </header>