<div>
    <h1>This is home page</h1>
</div>
{% schema %}
  {
    "name": "helloWorld",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}