/* width: 1200px  */
@media (min-width: 1500px) {
    .container {
          width: 1350px;
      }
    }
    /* width: 1200px  */
    @media (min-width: 1200px) {
     .template-index #header-content.header_layout_3{position:absolute;z-index:9;width:100%}
    }
    @media (max-width: 1199px) {
      #header-top-cart > div {padding: 0 10px;}
      .col-main .grid-item.product-item.product-2,.product-col-5 .grid-item.product-item {width: 25%;}
      .col-main .grid-item.product-item.col-md-3 {min-height: 310px;}
    }
    @media (min-width: 768px) and (max-width: 800px) {
      body #popup-newsletter .popupnewsletter{width:700px;}
    }
    @media (min-width: 768px) and (max-width: 991px) {
      body .jcarousel-skin-tango .jcarousel-next-vertical{top:-30px;}
      body #zt_list_product.more-view-wrapper-jcarousel{margin-top:30px;}
      body .jcarousel-skin-tango .jcarousel-prev-vertical{bottom:-30px;width:100%;}
      body #zt_list_product.more-view-wrapper-jcarousel .jcarousel-clip-vertical{height:270px;}
        body .product-right #zt_list_product.more-view-wrapper-jcarousel .jcarousel-clip-vertical{width:100%;height:220px;}
    body .product-left #zt_list_product.more-view-wrapper-jcarousel .jcarousel-clip-vertical{width:100%;height:220px;}
      body .typo-banner-slide .feature-wrap-content .features-item-2{height: 352px;margin-bottom: 0;}
      .main-content .block-top iframe {height:172px!important;}
      .main-blog .owl-theme .owl-controls{margin-bottom:15px;}
      .main-blog .owl-theme .owl-controls .owl-buttons div{margin:0 6px;}
    }
    
    
    
    /* width: 970px  */
    @media (min-width: 992px) and (max-width: 1199px) {
      body #zt_list_product.more-view-wrapper-jcarousel .jcarousel-clip-vertical{height:350px;}
    body .product-right #zt_list_product.more-view-wrapper-jcarousel .jcarousel-clip-vertical{width:100%;height:220px;}
    body .product-left #zt_list_product.more-view-wrapper-jcarousel .jcarousel-clip-vertical{width:100%;height:220px;}
      .newsletter .input-group-field { width: 245px; }
      .toolbar .btn-group { margin-left: 15px; }
    }
    @media (min-width: 1025px) and (max-width: 1199px) {
      .header_layout_2 .desktop-currency{padding-right:15px;}
      .header_layout_2 .header-custom-link-desktop > div.wishlists{padding-left:15px}
      .header_layout_2 #header-top-custom-link{padding-right:0;}
      .header_layout_2 .typo-header-cart #cart-count{letter-spacing: 0;border-radius: 50%;top: -10px;color: #fff;display: inline-block;font-size: 11px;height: 16px;line-height: 18px;margin: 0;position: absolute;right: -6px;text-align: center;text-transform: uppercase;width: 16px;background: #888888;}
      .header_layout_2 .typo-header-cart a .text-cart{display:none;}
      .header_layout_2 .typo-header-cart a .top-icon-cart{display:block}
      .header_layout_2 .typo-header-cart #cart-count em{display:none;}
      .header_layout_2 .typo-header-cart{padding-left:15px;}
    }
    
    
    /* width: 750px  */
    @media (min-width: 768px) and (max-width: 991px) {
      body .main-slideshow .slide-des .title{font-size:30px;line-height: 1;}
      body .main-slideshow .slide-des .title span{display:block;font-size:24px;}
      .main-slideshow .slide-des .title br, .main-slideshow .slide-des .caption p br{display:none;}
      .menu-action .site-nav > li.level-top > a{padding-right:2px;}
      body .site-nav li.level-top > a i{display:none;}
      body .site-nav li.level-top > i{width:12px;display:inline-block; cursor: pointer;}
    
      .static-collection .content-slider p br{display:none;}
      .menu-action .site-nav > li > a{padding-left:12px; padding-right:12px;}
      .site-nav { text-align: center; }
      body .static-collection .content-slider h2{font-size:22px;}
      body .static-collection .content-slider{padding:0 15px;}
      body #search-top .input-group .input-group-field:focus{width:100%;min-width:unset;}
      .banner .inner { right: 5%; top: 20px; max-width: 320px; }
      body .typo-banner-slide .feature-wrap-content .features-item-2 .text br{display:none}
      .collection-title h3.h5 { font-size: 18px; }
      body .footer-container .footer-top .content br{display:none;}
    
      .sidebar-custom .widget-title h3{font-size:15px;}
      body #filter-sidebar .widget-content{padding-left:0;}
      body .toolbar .page-total, body .collection-view label{font-size:12px;}
      body .product-quickview .product-content{width:755px;}
      body .product-item .content-bottom .btn{padding:0 8px; font-size:10px;}
      body .content-bottom .wishlist{margin-left:5px;}
      .refined-widgets > a { float: left; }
    
      .toolbar .view-mode label { display: none; }
      .toolbar .view-mode { margin: 16px 8px 16px 16px; }  
    
      /* product detail page */
      .quick-view .product-shop .btn, 
      .product-shop #add-to-cart-form .btn { min-width: 135px; }
      .footer-item-body .ft-line .ft-line-txt{word-wrap: break-word;}
      .newsletter .input-group{display:block}
      .footer-container .footer-top .newsletter .input-group-field{float:none;}
      .footer-container .newsletter .input-group-btn{display:block;clear:both;position: relative; margin-top: 10px;}
    
    
      /* cart page */
      .cart-row .btn { font-size: 12px; padding: 0 10px; }
    
      /* contact page */
      #contactFormWrapper input[type="text"],
      #contactFormWrapper input[type="email"], 
      #contactFormWrapper input[type="tel"] { width: 340px; }
      #contactFormWrapper textarea {  width: 340px;}
    
      #get-rates-submit { padding: 0 10px; }
    }
    @media (min-width: 1025px) {
      
       .header_layout_2#header-content .header-inner #header-top-cart{padding-top:50px;}
        .header_layout_2#header-content .is-ticky .header-inner #header-top-cart{    padding-top: 30px;}
      #currencies-top .block-title{display:none;}
      #currencies-top .dropdown-currency{position: absolute;width:120px;z-index: 9;background:#fff;}
      .desktop-currency{padding-right:30px;}
      .desktop-currency .dropdown-currency ul li{margin-bottom:10px;}
      .desktop-currency .dropdown-currency ul{margin-bottom:0;}
      .desktop-currency .dropdown-currency{text-align:left;padding: 15px!important;width:120px!important;display:none;}
      .header-custom-link-desktop #currencies-top{padding:0;line-height:1;}
     
      #header-top-custom-link .header-links{display:none;}
      .typo-header-cart #cart-count em{  font-style: normal;}
     
      .typo-header-cart a .text-cart{font-size:12px;  text-transform: uppercase;letter-spacing: 1px;}
      .typo-header-cart a .top-icon-cart{display:none;}
      .col-main .grid-item.product-item.product-2 .add-to-link {padding-top: 10px;}
     
      .product-col-5.col-main {width: 100%;}
      .filter-collection-left {float: left;margin-right: 20px;}
      .show-fillter .product-col-5 #filter-sidebar.col-left {left: 0;}
      .product-col-5 #filter-sidebar.col-left {position: fixed;display: block;margin: 0;background: #fff;list-style: none;z-index: 99999;top: 0;left: -270px;height: 100%;width: 270px;text-align: left;overflow: scroll;transition: all .5s cubic-bezier(0.7, 0, 0.3, 1) 0s;}
      .product-col-5 .close-sidebar-collection {display: block;}
      .product-col-5 .filter-collection-left {display: block;padding: 0 15px;}
      .product-col-5 .page-total-wrap {width: auto;float: right;  }
    }
    @media (max-width: 1024px) {
      .grid-image-banner .home-collection-wrapper .home-collection-content p br{display:none;}
      body .grid-image-banner .home-collection-wrapper .home-collection-content h3{font-size:22px;line-height: 30px;}
      body .grid-image-banner .home-collection-wrapper .home-collection-content p{margin-bottom:8px;}
      .header_layout_2#header-content .header-links .cusstom-link{top:75px;}
      #currencies-top {margin-bottom:10px;}
      #currencies-top .block-title{margin-bottom:10px;display:block}
      .currencies li a{background: #d8d8d8 none repeat scroll 0 0;color: #333333;display: inline-block;cursor: pointer;height: 30px;line-height: 30px;padding: 0 10px;margin-right: 0px;font-weight: 600;}
      .currencies li a.active {background: #333;color: #fff;}
      .dropdown-currency ul{margin-bottom:0;}
      .dropdown-currency ul li{display:inline-block}
      body #currencies-top .dropdown-toggle{display:none;}
      .header-custom-link-desktop{display:none;}
      .typo-header-cart #cart-count em{display:none;}
      .typo-header-cart #cart-count{letter-spacing: 0;border-radius: 50%;top: -10px;color: #fff;display: inline-block;font-size: 11px;height: 16px;line-height: 18px;margin: 0;position: absolute;right: -6px;text-align: center;text-transform: uppercase;width: 16px;background: #888888;}
      .typo-header-cart a .text-cart{display:none;font-size:12px;    text-transform: uppercase;letter-spacing: 1px;}
      body .main-blog{padding-bottom:30px;}
      body .typo-footer{padding-top:30px;}
      body .typo-footer .footer-bottom address{font-size:13px;}
      body .typo-block-icon .typo-box-info p br{display:none;}
    
    
      .col-main .grid-item.product-item.product-2,.product-col-5 .grid-item.product-item {width: 33.33333333%;}
      #header-content .header-links .cusstom-link {top: 58px;}
      .browse-tags-wrap {float: right;}
      .browse-tags {text-align: right;}
      .page-total-wrap,.browse-tags label {display: none;}
    
      .filter-collection-left {float: left;margin-right: 20px;}
      .show-fillter #filter-sidebar.col-left {left: 0;}
      #filter-sidebar.col-left {position: fixed;display: block;margin: 0;background: #fff;list-style: none;z-index: 99999;top: 0;left: -270px;height: 100%;width: 270px;text-align: left;overflow: scroll;transition: all .5s cubic-bezier(0.7, 0, 0.3, 1) 0s;}
      .close-sidebar-collection {display: block;}
      .filter-collection-left {display: block;padding: 0 15px;}
      .quickview-button {display: none;}
      .content-bottom .add-to-cart {padding-right: 10px;}
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .grid-image-banner .home-collection-wrapper .home-collection-content p br{display:none;}
      body #header-content.header_layout_1 .header-inner .site-nav li a{padding-left:8px;padding-right:8px;}
     
    }
    @media (min-width: 992px) {
    
      #currencies-top .popup-title{color:#222}
      .view-cart{display:inline-block}
      #header-top-cart .mini_cart_header .actions .btn{display:inline-block;width:auto;}
       #header-top-cart .mini_cart_header .actions .view-cart a,  #header-top-cart .mini_cart_header .actions .btn{font-size:14px;letter-spacing:2px;background:#111;color:#fff;border-radius:0;}
      #header-top-cart .mini_cart_header .actions .view-cart a:hover,  #header-top-cart .mini_cart_header .actions .btn:hover{background:#333;}
      body .mini_cart_header .summary p.total{color:#fff;}
      .mini_cart_header a.btn-remove{color:#888}
      .mini_cart_header a.btn-remove:hover{color:#fff;}
      #dropdown-cart {position: absolute;width: 360px;right: 0;padding: 15px;background: #222;color: #fff;text-align:left;opacity: 0;visibility: hidden;top: 50px;transition: all 0.3s;}
      body #header-top-cart .typo-header-cart:hover #dropdown-cart {opacity: 1;visibility: visible;top: 25px;z-index: 99;}
      body #header-top-cart > div{padding-bottom:25px;}
      .typo-header-cart #dropdown-cart h3, .typo-header-cart #dropdown-cart .close-cart{display:none;}
      body #header-content .header-inner #header-top-cart{padding-bottom:0px;font-weight:500;}
      .header-top #header-top-custom-link #search-top .input-group-btn:before {content: "\f002";font-family: fontAwesome;position: absolute;z-index: 9;pointer-events: none;font-size: 14px;right: 10px;top: 3px;}
      .header-top #header-top-custom-link #search-top .input-group-btn {position: absolute;font-size: 0;width: auto;top: 0;right: 0;z-index: 9;}
      .header-top #header-top-custom-link #search-top .input-group-btn>.btn {font-size: 0;background: transparent;border: 0;height: auto;line-height: 21px;padding: 0 15px;}
      .header-top #header-top-custom-link #search-top .input-group {display: inline-block;position: relative;height: 21px;line-height: 1;}
      .header-top #header-top-custom-link #search-top .input-group .input-group-field {min-width: 278px;border: 0;padding: 0 10px;height: 21px;line-height: 1;border-radius: 3px;}
      .header-top #header-top-custom-link .icon-search,.header-top #header-top-custom-link .search-form .search-close  { display: none; }
      .header-top #header-top-custom-link .search-form {
        display: block !important;
      }
      body .cart-list .product-name a{color:#888;}
      body .cart-list .product-name a:hover{color:#fff;}
      .template-index .is-ticky #search-top .icon_search, .template-index #header-content.is-ticky .header-inner p.top-cart{color:#000;}
      .template-index .header-inner .logo{display:block;}
      .template-index #header-content.is-ticky .logo{display:none}
      .template-index #header-content.is-ticky .logo-sticky{display:block}
    
    }
    @media (max-width:991px){
      .header_layout_3 .toggle-menu{position:absolute;    top: 15px;
        left: 5px;z-index:99}
        .typo-product-carousel, .typo-block-text-image, .home-blog, .section-product-col, .typo-block-text-image,
      .grid-image-banner{margin-top:0!important;margin-bottom:30px!important;}
      #header-content .is-ticky .toggle-menu .navbar-toggle{top:3px;}
      
      #header-content .is-ticky #search-top{top:23px}
      body #search-top .icon-search i, body .typo-header-cart .icon.top-icon-cart i, body #header-top-custom-link .header-links .icons i{font-size:18px;}
      .typo-tabs-product.grid{margin-top:35px!important;}
      #offcanvas .navbar-nav li {display: block;width: 100%;}
      #header-content .header-inner .top-menu {margin-top: 15px;}
      #header-content .header-inner .logo-container {padding: 15px 0;}
      #header-content .header-inner #header-top-cart {padding-top: 25px;width: auto;padding-bottom:25px;}
      body #header-content .is-ticky .header-inner #header-top-cart{padding-bottom:25px;}
      .main-slideshow .slide-des .title:before {display: none;}
      .main-slideshow .slide-des .text a {margin-top: 20px;}
      #search-top {position: absolute;left: 40px;padding-top: 10px !important;z-index: 9;top:21px;}
      #header-menu.top-menu {float: none;}
      #header-top-cart {float: right;position: static;}
      #header-content .logo-container {position: absolute;left: 50%;text-align: center;transform: translateX(-50%);-ms-transform: translateX(-50%);-moz-transform: translateX(-50%);-webkit-transform: translateX(-50%);z-index: 99;width: auto;}
      #header-content .container{position:relative;}
      .header #header-top-cart .header-cart{padding-top:8px;}
      .menu-action{display:none;}  
      body #header-content.header_layout_1{position: relative;}
      body .newsletter .input-group{width:100%;}
      .logo-sticky{ text-align: center;}
      .toggle-menu .navbar-toggle{float:none;font-size: 20px;padding:0;margin:0;top:10px;display:block;color:#222;}
      .toggle-menu .navbar-toggle i{line-height:normal}
      body #pre-currencies{padding-left:0; font-size: 12px;}
      .header-links .icons{font-size:18px; cursor: pointer;}
      .icon-search{ cursor: pointer;}
      bpdy .newsletter .input-group{width:100%;}
      body .logo-sticky{display:none!important;}
      .header-inner #search-top .search-form .search-close {background: #fff none repeat scroll 0 0;cursor: pointer;font-size: 37px;position: absolute;right: 28px;top: -51px;z-index: 9;  }
      #search-top .input-group{width:100%;}
      .header-inner #search-top .input-group .input-group-field{ min-width: 100%;}
      .header-inner #search-top .search-form {background: #fff none repeat scroll 0 0;box-shadow: 0 0px 2px 0 #dadada;display: block;padding: 0;position: absolute;left: 0;top: 41px;width: 300px;z-index: 2;}
    }
    
    @media (min-width: 768px) {
      .typo-footer .footer-top h3.module-title > i {display: none;}
      .typo-footer .footer-top .content {display: block !important;}
      .footer-container .footer-top .module-title{padding-bottom:20px;}
      .footer-container .footer-top .module-title i{ display:none;cursor: pointer;font-size: 20px;line-height: 17px;float: right;height: 20px; text-align: center;width: 20px;}
      .footer-container .footer-top .content{display:block!important;}
      .sidebar { display: block!important; }
    }
    .zoomWrapper {display: block;height: 100% !important;width: 100% !important;}
    /* width: 100%  */
    @media (max-width: 767px) {
      body .typo-block-icon{padding:0;margin:0 0 30px!important}
      body .block-icon-inner{padding-bottom:30px;}
     body .home-blog .owl-theme .owl-controls .owl-buttons .owl-prev {left: 15px;}
    body .home-blog .owl-theme .owl-controls .owl-buttons .owl-next {right: 15px;}
      .typo-countdowns{text-align:center;}
      body .typo-countdowns #cntdwn > div {padding-top:12px;margin-right:10px;height:65px;width:65px;}
    body .typo-countdowns #cntdwn > div .no {margin: 0 10px;font-size: 18px;line-height:18px;}
    body .typo-countdowns #cntdwn > div .text {font-size: 13px;}
    
      .newsleter-content .input-group{display:block}
      .typo-tabs-product{margin:30px 0!important;}
      body .main-slideshow .flex-direction-nav{display:none!important;}
      body .typo-newsletter-content .input-group-btn{display:block; width:100%;   padding-top: 10px;}
      body .typo-footer .footer-bottom address, body .typo-footer .footer-icon{text-align:center;}
      body .typo-footer .footer-top{padding-top:30px;padding-bottom:0;}
      .typo-brand{margin:30px 0!important}
      .typo-newsletter{margin-top:30px!important;}
      body .newsleter-content{padding:40px 30px;}
      body .typo-newsletter .typo-newsletter-content .small-title{margin-bottom:20px;}
      body .typo-block-text-image .block-text-image-content h4{font-size:13px;margin-bottom:0;}
      body .typo-block-text-image .block-text-image-content h3{font-size:20px;}
      body .typo-block-text-image .block-text-image-content p a{font-size:12px;}
    body .typo-tabs-product .owl-theme .owl-controls .owl-buttons .owl-prev {left: 15px;}
    body .typo-tabs-product .owl-theme .owl-controls .owl-buttons .owl-next {right: 15px;}
       body .typo-footer .footer-top h3.module-title i{    float: right;width: 30px;height: 30px;line-height: 30px;    cursor: pointer;text-align: center;}
       .main-slideshow ol.flex-control-nav{position:relative;display:block}
      .main-slideshow .slides{margin-bottom:10px;}
      .main-slideshow .flexslider{margin-bottom:0;}
      body .col-main .product-list .grid-item.product-item{padding-left:0;padding-right:0}
      body .product-shop .product-title h2{      letter-spacing: 0;  line-height: 30px;margin-bottom: 10px;font-size:15px;}
      .product-shop .short-description{display:none;}
    
      body .breadcrumb-wrap{margin-bottom:0px;}
      body.template-product .main-content{margin-top:0px}
      body .related-products .owl-carousel .owl-wrapper-outer{padding-top:0;padding-bottom:0;}
      body #add-to-cart-form #quantity{width:90px;}
      body #add-to-cart-form #product-add-to-cart{padding:0 18px;}
      .btn-plus{display:none;}
      body .product-shop .product-wishlist {padding-left: 5px;}
      body .product-tabs .nav-tabs{padding-left:0;padding-right:0;}
      body #add-to-cart-form .custom-qty{margin-right:5px;}
        body .grid-item .product-inner{padding:0;}
      body .grid-image-banner .home-collection-wrapper{padding-bottom:15px;}
      .main-blog {margin-bottom: 0px;padding-bottom: 15px;margin-top: 0;}
      .product-content h3 a {letter-spacing: 1px;}
      .grid-image-banner,..typo-tabs-product.grid {margin-top: 30px !important;}
      body .typo-footer .footer-top a{padding:0 6px;}
      body #header-content{padding-bottom:0px}
      .typo-tabs-product .nav-tabs > li {    margin-bottom:0px;}
      .typo-tabs-product .nav-tabs > li a{font-size:14px;}
      body .typo-tabs-product .nav-tabs{padding-right:100px;}
      .typo-block-icon .typo-box-info p br,.typo-tabs-product .nav-tabs > li:before {display: none;}
      .template-blog .widget-content {padding: 20px 0 0;}
      .template-blog .content-blogs {padding-top: 30px;border-top: 1px solid #ebebeb;}
      .blog-right h3 {margin-bottom: 10px;}
      .list-blog .blog-right {margin-top: 20px;}
      .blog-banner-iamge {display: none;}
      .col-main .grid-item.product-item.product-2,.product-col-5 .grid-item.product-item {width: 50%;}
      .product-item .add-to-cart .btn {padding: 0 0px;}
      .col-main .grid-item  .product-inner {padding: 0;}
      .col-main .grid-item.product-item {padding: 0 15px 15px;}
      .grid-item .product-inner:hover {position: static;box-shadow: none;background: transparent;}
      .content-bottom {display: block;}
      body .typo-block-text-image .image .block-text-image-content{top:50%;}
      body .header-inner #search-top .search-form{left:0;right: auto;width: 250px;}
      .contactus-page .form-contact > div {padding-left: 15px;}
      .contactus-page .block-content {font-weight: normal;}
    
      .typo-block-icon .feature-box {margin-bottom: 15px;padding-bottom:0;}
      .main-slideshow .slide-des .caption p {font-size: 16px;font-weight: 300;line-height: 25px;}
      .main-slideshow .slide-des .text a {margin-top: 0px;padding: 0 0px;height: 35px;line-height: 35px;font-size: 13px;}
      body .section-product-col .title{padding-bottom:5px;margin-bottom:18px;margin-top:15px;}
       body .main-slideshow .slide-des .title{font-size:24px;line-height: 1;margin-bottom:5px;}
      body .main-slideshow .slide-des .title span{display:block;font-size:18px;}
      body .footer-container .footer-top h3.module-title i{float:right;cursor: pointer;}
      body .footer-container .images{text-align:left;}
      body .footer-container .footer-top h3.module-title{ margin: 0 0 10px;padding: 10px 0;}
      .zoomContainer {display: none !important;visibility: hidden!important;}
      a#placeholder{display: inline-block;width: 100%;position: relative;}
      a#placeholder:before {content: "";height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 1;}
      .header-cart #dropdown-cart{display:none!important;}
      .wrapper-container{overflow:hidden;}
      #cart table tr td, #cart table th{padding:5px;}
      #cart table tr td img{max-width:80%;}
      #cart table .tc.item-quantity{width:30px;padding:0;text-align:center;}
      .toolbar .page-total{font-size:13px;}
      #header-top-custom-link .icons{padding-right:0;}
      .zoomWrapper img{width:100%;}
      body .add-to-cart .btn{padding:0 13px; font-size: 13px;}
      body .content-bottom .wishlist{margin-left:5px;}
      .product-shop{margin-top:15px;}
      body .related-products .products-grid .grid-item .product-image{margin:auto;width:auto;display:block}
      body .header-cart #cart-count{margin-left:0;}
      .flex-direction-nav, .grid-item .product-image .add-to-link{display:none!important}
      .tabs-product-home .nav-tabs > li > a{padding-top:8px; padding-bottom:8px;}
      .icon-search{font-size:16px;}
      body .product-shop .quantity, body .product-shop #quantity{width:45px;}
      body .product-shop .wishlist{width:45px; margin-left:10px;}
      body #popup-newsletter{display:none!important}
      body .related-products .owl-buttons .owl-prev{left:25px;}
      body .related-products .owl-buttons .owl-next{right:25px;}
      .spr-summary-actions-newreview {display: inline-block;float: none;margin: 15px 0 0;width: auto !important;}
      .spr-summary-actions {clear: both;display: block;}
      .zoomWrapper {display: block;height: 100% !important;width: 100% !important;}
      body .menu-action .site-nav > li > a{padding-left:10px; padding-right:10px; font-size:12px;}
      .zoomContainer {display: none !important;}
      .avatar > img {width: 100%;}
      #popup-newsletter{display:none!important;}
      body .newsletter .input-group-btn{display:block;position: relative;width:100%; text-align:center;}
      body .newsletter .input-group-btn > .btn{position: relative;}
    }
    @media (max-width: 530px) {
      .share_toolbox ul { float: none; margin-top: 5px; }
      .share_toolbox ul li:first-child { padding: 0; }
    }
    
    @media (max-width: 499px) { 
      body .typo-block-text-image{display:none!important}
      .main-slideshow .slide-des p{display:none;}
      #cart table tr td.qty, #cart table th.qty{display:none;}
      #cart .col-lg-12{padding:0 5px;}
    }
    
    @media (max-width: 360px) {
      body .product-shop .quantity, body .product-shop #quantity{width:45px;}
      body .product-shop .wishlist{width:45px; margin-left:10px;}
      .infinite-scrolling a, .infinite-scrolling-homepage a { width: 100%; }
      .button .btn { padding: 0 10px; }
      .toolbar .view-mode { margin: 16px 8px 16px 16px; }
      .toolbar .view-mode label { display: none; }
      .toolbar.toolbar-bottom { text-align: center; }
      .toolbar.toolbar-bottom .page-total { float: none; margin-bottom: 10px; }
      .pagination-page { text-align: center; }
    }
    
    @media (max-width: 479px) {
      .product-inner .add-to-link {display: none;}
      .typo-tabs-product.grid .add-to-link {display: none;}
      .col-main .grid-item.product-item.product-2,.product-col-5 .grid-item.product-item {width: 100%;}
      .logo img, .logo-sticky img {max-width: 120px;margin-top:8px;}
     body .col-main .grid-item.product-item {width: 100%;}
      .browse-tags-wrap {display: none;}
      .header-inner #search-top .search-form .search-close{right:65px;}
    }
    .col-item-5{width:20%;float:left;}