@media (min-width: 992px) and (max-width: 1199px) {
  /* header css */
  nav.header-menu ul li a {
      padding-left: 8px;
      padding-right: 8px;
  }
}

@media (max-width: 991px) {
  /* header css */
  header.header-area .row {
      height: 75px;
  }
  .toggle-menu {
      display: inline-block;
  }
  .header-menu {
      display: none;
  }
  .header-currency {
      display: none;
  }
  
  .header-login--text {
      display: none !important;
  }
  
  .header-wishlist {
      display: none;
  }
  
  .header-cart--link {
      display: none !important;
  }
  
  .header-search {
      position: absolute;
      left: 40px;
  }
  .header-login__mobile {
      display: block;
  }
  
  a.header-cart__mobile {
      display: block;
      position: relative;
  }
  span.cart-count {
      position: absolute;
      top: -4px;
      background: #ccc;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 9px;
      border-radius: 100px;
  }
  header.header-area .row {
      height: 75px;
  }
  
  .toggle-menu i,
  .header-search i,
  .header-login__mobile i,
  span.header-cart-icon i {
      font-size: 16px;
  }
}

@media (max-width: 767px) {
  .slide-des .title {
      font-size: 18px;
      line-height: 1;
      margin: 10px 0 0;
      letter-spacing: 0;
  }
  .banner-slide .swiper-button-prev,
  .banner-slide .swiper-button-next {
      display: none;
  }
  #banner-bullet {
      display: block;
      bottom: -40px;
  }
  .typo-tabs-product {
      padding-bottom: 0;
  }
  .newsleter-content {
      padding: 40px 30px;
  }
  .input-group-btn .btn {
      position: relative;
      margin-top: 15px;
  }
  
  .typo-brand {
      margin: 0!important;
  }
  .typo-footer .footer-top {
      padding-top: 30px;
      padding-bottom: 0;
  }
  .typo-footer .footer-bottom address,
  .typo-footer .footer-icon {
      text-align: center;
  }
}

@media (max-width: 600px) {
  .header-logo img {
      max-width: 120px;
  }
  .header-custom-link div {
      padding: 0 5px;
  }
  .header-link {
      padding: 0;
  }
}

@media (max-width: 575px) {
  .module-title i {
      display: inline-block;
  }
  .typo-footer .content {
      display: none;
  }
}

@media (max-width: 499px) {
  .slide-des p {
      display: none;
  }
  .slide-des .text a {
      margin-top: 0;
  }
}